# OS Files
**/.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
.platform/*

# Git
**/.git
**/.gitignore

# Env   
**/.env
**/.aws
**/.ssh
Dockerfile
docker-compose.yml
**/venv
**/env
README.md

# Artefacts
data/
