# OS
.DS_Store
Thumbs.db
desktop.ini


# IDE
.idea/
.vscode/



# Development 
__pycache__/
.mypy_cache
.env
.venv/
venv/
env

!data/
.streamlit/

.elasticbeanstalk/*
!.elasticbeanstalk/saved_configs
!.elasticbeanstalk/*.yml
