[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ecmwflibs = "*"
eccodes = "*"
cfgrib = "*"
geopandas = "*"
matplotlib = "*"
numpy = "*"
onnxruntime = "*"
opencv-python-headless = "*"
pandas = "*"
pillow = "*"
plotly = "*"
rasterio = "*"
rasterstats = "*"
scikit-image = "*"
streamlit = "*"
xarray = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
